In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("C:\\Users\\jyoti\\OneDrive\\Desktop\\New folder\\Churn_Modelling.csv")

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
import tensorflow as tf

WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [7]:
#Preprocess the dataset
X=data.drop(columns=['Exited'],axis=1)
y=data['Exited']

In [8]:
#Encode Categorical features
le=LabelEncoder()
X['Surname']=le.fit_transform(X['Surname'])
X['Gender']=le.fit_transform(X['Gender'])
X['Geography']=le.fit_transform(X['Geography'])

In [9]:
#Split the dataset into train and test sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
#Standardize the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [11]:
#Define the neural network architecture
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_dim=X_train.shape[1]),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
#Define the loss function and metrics
loss_fn=tf.keras.losses.BinaryCrossentropy()
metrics=['accuracy']

In [13]:
#Define the optimizer with Adagrad
learning_rate=0.01
optimizer=tf.keras.optimizers.Adagrad(learning_rate==learning_rate)

In [14]:
#Compile the model
model.compile(optimizer=optimizer,loss=loss_fn,metrics=metrics)

In [15]:
#train the model
epochs=10
batch_size=32
model.fit(X_train,y_train,batch_size=batch_size,epochs=epochs,validation_split=0.2)

Epoch 1/10
WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

200/200 [==============================] - 1s 2ms/step - loss: 0.4556 - accuracy: 0.8155 - val_loss: 0.4485 - val_accuracy: 0.8056
Epoch 2/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3868 - accuracy: 0.8455 - val_loss: 0.3847 - val_accuracy: 0.8487
Epoch 3/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3737 - accuracy: 0.8492 - val_loss: 0.3738 - val_accuracy: 0.8419
Epoch 4/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3622 - accuracy: 0.8522 - val_loss: 0.3681 - val_accuracy: 0.8481
Epoch 5/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3572 - accuracy: 0.8520 - val_loss: 0.3719 - val_accuracy: 0.8481
Epoch 6/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3487 - accuracy: 0.8548 - val_loss: 0.3674 - val_accuracy: 0.8506
Epoch 7/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8594 - val_loss: 0.3616 - val_accuracy: 0.8531
Epoch 8/10
200/200 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8602 - val_loss: 0.3693 - val_accuracy: 0.8531
Epoch 9/10
200/200 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8627 - val_loss: 0.3669 - val_accuracy: 0.8462
Epoch 10/10
200/200 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8642 - val_loss: 0.3618 - val_accuracy: 0.8475

In [16]:
#Evaluate the model
test_loss,test_acc=model.evaluate(X_test,y_test)
print("Test Loss",test_loss)
print("Test Accuracy",test_acc)

63/63 [==============================] - 0s 1ms/step - loss: 0.3552 - accuracy: 0.8600
Test Loss 0.3552300035953522
Test Accuracy 0.8600000143051147