# OPTIMIZER

# An optimizer refers to an algorthims or method that adjusts the parameters of a neural network during the training process in order to minimize the loss function and imporve the models perfomance .The primary goal of optimization in deep learning is to find the optimal set of parameters that allow the nural network to make accurate predictions on new and unseen data

Optimizers play a crucial role in the training of neural netwrok because they determine how the models parameters are updates in response to the gradients of the loss function with respect to those parameter. Gradient represent the direction of steepest ascent of the loss function

In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [4]:
data=pd.read_csv("C:\\Users\\jyoti\\OneDrive\\Desktop\\Datasets\\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Preprocess the dataset
X=data.drop(columns=['Exited'],axis=1)
y=data['Exited']

In [6]:
# Encode Categorical features
le=LabelEncoder()
X['Geography']=le.fit_transform(X['Geography'])
X['Gender']=le.fit_transform(X['Gender'])
X['Surname']=le.fit_transform(X['Surname'])

In [7]:
#Split the dataset into train and test sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
# Standardize the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [9]:
# Define the neural netwrok architecture
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_dim=X_train.shape[1]),#input layer
    tf.keras.layers.Dense(64,activation='relu'),#hidden layer
    tf.keras.layers.Dense(1,activation='sigmoid')#hidden layer
])

WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [10]:
#Define nthe loss function and metrics
loss_fn=tf.keras.losses.BinaryCrossentropy()
metrics=['accuracy']

In [11]:
#Define nthe optimizer with Momentum
learning_rate=0.001
momentum=0.9
optimizer=tf.keras.optimizers.SGD(learning_rate=learning_rate,momentum=momentum)

In [12]:
#Compile the model
model.compile(optimizer=optimizer,loss=loss_fn,metrics=metrics)

In [13]:
#Train the model
epochs=10
batch_size=32
model.fit(X_train,y_train,batch_size=batch_size,epochs=epochs,validation_split=0.2)

Epoch 1/10
WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\jyoti\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

200/200 [==============================] - 3s 7ms/step - loss: 0.5651 - accuracy: 0.7356 - val_loss: 0.4947 - val_accuracy: 0.7987
Epoch 2/10
200/200 [==============================] - 1s 5ms/step - loss: 0.4862 - accuracy: 0.7933 - val_loss: 0.4658 - val_accuracy: 0.7987
Epoch 3/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4637 - accuracy: 0.7959 - val_loss: 0.4477 - val_accuracy: 0.8087
Epoch 4/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4487 - accuracy: 0.8022 - val_loss: 0.4358 - val_accuracy: 0.8138
Epoch 5/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4386 - accuracy: 0.8097 - val_loss: 0.4280 - val_accuracy: 0.8144
Epoch 6/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4314 - accuracy: 0.8122 - val_loss: 0.4228 - val_accuracy: 0.8175
Epoch 7/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4257 - accuracy: 0.8159 - val_loss: 0.4183 - val_accuracy: 0.8175
Epoch 8/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4209 - accuracy: 0.8194 - val_loss: 0.4148 - val_accuracy: 0.8188
Epoch 9/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4162 - accuracy: 0.8236 - val_loss: 0.4111 - val_accuracy: 0.8231
Epoch 10/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4119 - accuracy: 0.8264 - val_loss: 0.4078 - val_accuracy: 0.8275

In [14]:
#Evaluate the model
test_loss,test_acc=model.evaluate(X_test,y_test)
print("Test Loss:",test_loss)
print("Test Accuracy:",test_acc)

63/63 [==============================] - 1s 3ms/step - loss: 0.3996 - accuracy: 0.8380
Test Loss: 0.39964839816093445
Test Accuracy: 0.8379999995231628